body{
color: rgb(240, 248, 255);
background-color: rgba(177, 162, 162, 0.478);
font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}
a {
    color: aliceblue;
    text-decoration: none;
}
 
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(145, 18, 18);
}

.center {
    text-align: center;
}

h1 {
 